@import "~bulmaswatch/darkly/variables";

$image-height: 150px;
$image-width: 150px;

$bottom-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);

$navbar-height: 3.25rem;

$body-background-color: #36393f;
$background-darker: #2f3137;
$background-darkest: #202225;
