@import "variables";

/* Responsive Design */
@mixin on-mobile {
  @media (min-width: #{$mobile-width}){
    @content
  }
}

@mixin on-tablet {
  @media (min-width: #{$tablet-width}){
    @content
  }
}

@mixin on-desktop {
  @media (min-width: #{$desktop-width}) {
    @content
  }
}

@mixin hidden-on-mobile {
  @media (max-width: #{$mobile-width}) {
    display: none;
  }
}

/* Helpers */
@mixin h-center {
  display: flex;
  justify-content: center;
}

@mixin v-center {
  display: flex;
  align-items: center;
}

@mixin center {
  @include v-center;
  @include h-center;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin text-shadowed {
  text-shadow: $shadow;
}

@mixin shadowed {
  box-shadow: $shadow;
}

@mixin rounded {
  border-radius: 99999px;
}

@mixin image-dimensions {
  height: var(--image-height);
  width: var(--image-width);
}
