@import "~bulmaswatch/darkly/variables";

$image-height: 150px;
$image-width: 150px;

$mobile-width: 767px;
$tablet-width: 1024px;

$vue-green: #41B883;
$dark-green: #204434;
$bottom-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 4px 3px rgba(0,0,0, 0.32), 0 1px 2px rgba(0,0,0, 0.24);

$dark-blue: #28343d;
$background-dark: #36393f;
$background-semidark: #2e2e2e;
$background-darker: #2f3137;
$background-darkest: #202225;
