$mobile-width: 767px;
$tablet-width: 1024px;

$vue-green: #41B883;
$dark-green: #204434;
$bottom-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1.5px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 4px 3px rgba(0,0,0, 0.32), 0 1px 2px rgba(0,0,0, 0.24);

$link-color: #8DF1F8;
$tag-color: #484848;


$tag-size: 16px;

$dark-blue: #28343d;
$background: #272626;
$background-dark: #151316;
$background-semidark: #2e2e2e;
$background-darker: #2f3137;
$background-darkest: #202225;
$icon-color: #AAA5A5;

$font-light: #AAA5A5;
$sidebar-color: linear-gradient(180deg, #2A2B2C 0%, #333232 100%);
$sidebar-guild-section-color: #2C2C2C;
$sidebar-selected-tab: #222121;
