$loading-dark: #272727;
$loading-light: #2f2f2f;
.loading-animation {
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholder-shimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, $loading-dark 8%, $loading-light 38%, $loading-dark 54%);
  background-size: 300px 100px;
  position: relative;
}

@keyframes placeholder-shimmer {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100em 0;
  }
}
