@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css?family=Lato");

:root {
  --image-width: 300px;
  --image-height: 200px;
  --image-bottom-height: 40px;
}

button,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Lato", "Roboto", sans-serif !important;
}

a {
  color: $link-color;
}

html {
  overflow-y: hidden;
}

body {
  height: 100vh;
  background-color: $background;
}

.thin {
  font-weight: 200;
}

//.tag {
//  height: 40px;
//  flex-direction: row;
//  border-radius: 999px;
//  background: $tag-color;
//  display: inline-flex;
//  align-content: flex-start;
//  align-items: center;
//  flex-shrink: 1;
//}
.hidden-on-mobile {
  @include hidden-on-mobile;
}

.sidebar-image {
  max-height: 45px;
  border-radius: 9999px;
}

.disabled-link {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

// Perfect scrollbar overrides
div.ps__thumb-y {
  background: $background-darkest !important;
}

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background: transparent !important;
}
// centering overrides for the icons
.material-design-icon {
  display: inline-flex;
  align-items: center;
}
