@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Montserrat');

.code {
    max-width: 800px;
    height: auto;
}


@media (max-width: 700px) {
    .title {
        font-size: 18px;
    }
    .code {
        height: 50%;
    }
}

.title {
    display: flex;
    align-items: center;
    margin: 0;
}

body, html {
    background-color: #eac6f7;
    overflow-y: hidden;
}

.icon {
    margin: 0 5px;
    max-width: 48px;
    height: auto;
}

h1, h2, p {
    color: #212121;
    font-family: "Montserrat", sans-serif;
}

.has-items-centered {
    overflow: hidden;
    padding: 0 10px;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%, 100% {
        transform: rotate(0)
    }
    20%, 60% {
        transform: rotate(-25deg)
    }
    40%, 80% {
        transform: rotate(10deg)
    }
}

@media (max-width: 500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}